<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artman Flow</title>
  <style>
    body > div {
      font-size: 16px;
      font-family: serif;
      margin-bottom: 10px;
      padding: 0 0 10px 0;
    }

    body > div > ol > li {
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    body > div > ol > li > ol > li {
      font-weight: normal;
      padding-top: 10px;
    }

  </style>
  <link rel= "stylesheet" type= "text/css" href= "../static/steps.css">
</head>
<body>
<a href="/help">Help</a>
<h3>Googleapis Artman Workflow</h3>
<div>
  <ol>
    <li>Common Steps
      <ol>
        <li>
          <a href="/sources-generation/new">Generate Sources</a>
        </li>
      </ol>
    </li>

    <li>Java Steps
      <ol>
        <li>
          <a href="">Generate Keys (Not Implemented)</a>
        </li>
        <li>
          <a href="/java-sources-staging/new">Stage Sources</a>
        </li>
        <li>
          <a href="">Stage Dependencies Artifacts (Not Implemented)</a>
        </li>
        <li>
          <a href="">Release Sources (Not Implemented)</a>
        </li>
        <li>
          <a href="">Stage Artifacts (Not Implemented)</a>
        </li>
      </ol>
    </li>
  </ol>
</div>
</body>
</html>